html, body {
    margin: 0;
    height: 100%;
}

.Body {
    background-color: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email, .password {
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color:#4b5563;
}

.p-button {
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 200px;
}

.p-inputtext, .p-password {
    width: 100%;
    padding: 8px;
}