.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    border-top: 1px solid #00c896;
    border-radius: 5px 5px 0 0;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 16px;
    color: #dfdfdf;
}

.footer p span {
    color: #00c896;
}